# available profiles are local (default) | prod
SPRING_PROFILE=prod

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_REGION=ap-south-1
AWS_S3_BUCKET=
AWS_CDN_BASE_URL=

DB_HOST=localhost
DB_PORT=5432
DB_NAME=file_storage_db
DB_USERNAME=postgres
DB_PASSWORD=postgres

# accepted DB_SSL values: disable, require, verify-full
DB_SSL=disable

# uncomment the following if DB_SSL is require or verify-full
# and set path to the certificate file
# DB_CERT_PATH=./secrets/ca.pem

JWT_SECRET=f3b79ae84b64d27a1a61510ad21a4f8c